<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
       <!-- int id;
        String username;
        String password;
        //登录名	手机	邮箱	角色	加入时间	状态
        String phone;
        String email;
        String role;
        String joinTime;
        String status;-->
<mapper namespace="com.ymm.dao.AdminMapper" >
    <sql id="Admin_column">
      a.username,a.password,a.phone,a.email,a.role,a.joinTime,a.status
    </sql>
    <select id="selectAllAdmin" resultType="com.ymm.pojo.po.Admin">
        SELECT * from admin
    </select>
    <select id="selectAdminByUsername" parameterType="com.ymm.pojo.po.Admin" resultType="com.ymm.pojo.po.Admin">
      SELECT * FROM admin WHERE username = #{username} AND PASSWORD = #{password}
    </select>
    <select id="selectAdminById"  resultType="com.ymm.pojo.po.Admin" >
        SELECT
      <include refid="Admin_column"/>
        FROM admin a WHERE id = #{id}
    </select>
</mapper>