<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ymm.dao.AdminMapper" >
    <!--sql语句块-->
    <sql id="Admin_column">
     a.ad_id,a.ad_username,a.ad_password,a.ad_phone,a.ad_email,a.ad_rank,a.ad_addTime,a.ad_status
    </sql>
    <sql id="where_adminQuery">
        <where>

            <if test="query != null and query.adQueryName != null and query.adQueryName != '' ">
               AND a.ad_username like '%${query.adQueryName}%'
            </if>
        </where>
    </sql>
    <!--按分页和模糊查询查询所有admin-->
    <select id="selectAllAdmin" resultType="com.ymm.pojo.po.Admin">
        SELECT
        <include refid="Admin_column"/>
        from admin a
        <include refid="where_adminQuery"/>
        ORDER BY a.ad_id ASC
        limit #{page.offset},#{page.limit}
    </select>

    <select id="countAdmin" resultType="int" >
        SELECT COUNT(1) FROM admin a
        <include refid="where_adminQuery"/>
    </select>

    <select id="selectAdminByUsername" parameterType="com.ymm.pojo.po.Admin" resultType="com.ymm.pojo.po.Admin">
      SELECT * FROM admin WHERE ad_username = #{ad_username} AND ad_PASSWORD = #{ad_password}
    </select>

    <select id="selectAdminById"  resultType="com.ymm.pojo.po.Admin" >
        SELECT
      <include refid="Admin_column"/>
        FROM admin a WHERE ad_id = #{id}
    </select>

    <!--添加管理员-->
    <insert id="addAdmin" useGeneratedKeys="true" keyProperty="ad_id" parameterType="com.ymm.pojo.po.Admin">
        INSERT INTO
         admin(ad_username,ad_password,ad_phone,ad_email,ad_rank,ad_addTime,ad_status)
          VALUES (#{ad_username},#{ad_password},#{ad_phone},#{ad_email},#{ad_rank},#{ad_addTime},#{ad_status})
    </insert>

    <!--更新管理员状态-->
    <update id="changeStatus" parameterType="com.ymm.pojo.po.Admin">
        UPDATE admin SET ad_status = #{ad_status} WHERE ad_id = #{ad_id}
    </update>

    <!--保存信息更新-->
    <update id="saveEdit" parameterType="com.ymm.pojo.po.Admin" >
        UPDATE admin SET
        <if test="ad_username != null and ad_username != null">
            ad_username = #{ad_username}
        </if>
        <if test="ad_password != null and ad_password != null">
            ,ad_password = #{ad_password}
        </if>
        <if test="ad_phone != null and ad_phone != null">
            ,ad_phone = #{ad_phone}
        </if>
        <if test="ad_email != null and ad_email != null">
            ,ad_email = #{ad_email}
        </if>
        <if test="ad_rank != null and ad_rank != null">
            ,ad_rank = #{ad_rank}
        </if>
        WHERE ad_id = #{ad_id}

    </update>

    <!--删除-->
    <delete id="delAdmin" parameterType="com.ymm.pojo.po.Admin">
        DELETE FROM admin WHERE ad_id = #{ad_id}
    </delete>

    <!--批量删除-->
    <delete id="delBatch" parameterType="java.util.List">
            DELETE FROM admin where ad_id in
            <foreach collection="ids" index="index" item="ad_id" open="(" separator="," close=")">
                #{ad_id}
            </foreach>
    </delete>


</mapper>