<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ymm.dao.BrandMapper" >
    <sql id="Brand_column">
        brand_id,brand_name,logo,add_time,country,brand_desc,status
    </sql>
    <select id="selectBrandByPage" parameterType="com.ymm.pojo.dto.Page" resultType="com.ymm.pojo.po.Brand">
        SELECT
        <include refid="Brand_column"/>
        from brand
        WHERE status IN (1,2)
        limit #{offset},#{limit}
    </select>
    <select id="countBrands" resultType="_long">
        select count(1)
        from brand
        WHERE status IN (1,2)
    </select>
    <update id="brandDelById" parameterType="_int">
        UPDATE
        brand
        SET status = 3
        WHERE brand_id = #{id}
    </update>
</mapper>