<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ymm.dao.BrandMapper" >
    <sql id="Brand_column">
        brand_id,brand_name,logo,add_time,country,brand_desc,status
    </sql>

    <sql id="where_clause">
        <where>
            status != 3
            <if test="query != null and query.brand_name != null and query.brand_name != ''">
                and brand_name like '%${query.brand_name}%'
            </if>
        </where>
    </sql>
    <select id="selectBrandByPage" parameterType="com.ymm.pojo.dto.Page" resultType="com.ymm.pojo.po.Brand">
        SELECT
        <include refid="Brand_column"/>
        from brand
        <include refid="where_clause"/>
        limit #{page.offset},#{page.limit}
    </select>
    <select id="countBrands" resultType="_long">
        select count(1)
        from brand
        <include refid="where_clause"/>
    </select>
    <update id="brandDelById" parameterType="_int">
        UPDATE
        brand
        SET status = 3
        WHERE brand_id = #{id}
    </update>
    <insert id="addBrand" parameterType="com.ymm.pojo.po.Brand">
        INSERT INTO brand(brand_id,brand_name,cat_id,add_time,country,brand_desc,status)
        VALUES(#{brand_id},#{brand_name},#{cat_id},#{add_time},#{country},#{brand_desc},#{status})
    </insert>

    <update id="editBrand" parameterType="com.ymm.pojo.po.Brand">
        UPDATE brand SET 1=1
        <if test="brand_id != null and brand_id != ''"/>
          ,brand_id=#{brand_id}
        <if test="brand_name != null and brand_name != ''"/>
          ,brand_name=#{brand_name}
        <if test="cat_id != null and cat_id != ''"/>
          ,cat_id = #{cat_id}
        <if test="add_time != null and add_time != ''"/>
          ,add_time = #{add_time}
        <if test="country != null and country != ''"/>
          ,country= = #{country}
        <if test="brand_desc != null and brand_desc != ''"/>
          ,brand_desc = #{brand_desc}
        <if test="status != null and status != ''"/>
          ,status = #{status}
    </update>
</mapper>