<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymm.dao.CategoryMapper">
    <!--category sql块-->
    <sql id="Category_Column_List">
      cat_id,cat_name,cat_desc,status
    </sql>

    <!--查询所有status不为3的category-->
    <select id="selectAllCategory" parameterType="com.ymm.pojo.dto.Page" resultType="com.ymm.pojo.po.Category">
        SELECT
        <include refid="Category_Column_List"/>
        FROM category
        WHERE status IN (1,2)
        ORDER BY cat_id DESC
        limit #{offset},#{limit}
    </select>
    <!--查询所有status不为3的category的条数-->
    <select id="countCate" resultType="int">
        SELECT count(1)
        FROM category
        WHERE status IN (1,2)
    </select>
    <!--根据ID查找category-->
    <select id="selectCateById" parameterType="int" resultType="com.ymm.pojo.po.Category">
        SELECT
        <include refid="Category_Column_List"/>
        FROM category
        WHERE cat_id = #{id}
    </select>
    <!--插入category-->
    <insert id="insertCate" parameterType="com.ymm.pojo.po.Category" >
        INSERT INTO category
        <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="cat_id != null" >
            cat_id,
        </if>
        <if test="cat_name != null" >
            cat_name,
        </if>
        <if test="cat_desc != null" >
            cat_desc,
        </if>
        <if test="status != null" >
            status,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="cat_id != null" >
            #{cat_id},
        </if>
        <if test="cat_name != null" >
            #{cat_name},
        </if>
        <if test="cat_desc != null" >
            #{cat_desc},
        </if>
        <if test="status != null" >
            #{status},
        </if>
        </trim>
    </insert>
    <!--根据id更新category的status-->
    <update id="updateCateStatusById" parameterType="int">
        UPDATE
        category
        SET status = 3
        WHERE cat_id = #{id}
    </update>
    <!--update category-->
    <update id="updateCate" parameterType="com.ymm.pojo.po.Category" >
        UPDATE
        category
        SET
        <trim suffixOverrides="," >
            cat_name = #{cat_name},
            <if test="cat_desc !=null">
                cat_desc = #{cat_desc},
            </if>
            status = #{status},
        </trim>
        WHERE cat_id = #{cat_id}
    </update>

</mapper>