<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymm.dao.GoodsMapper">

    <!--GoodsCustom sql块-->
    <sql id="GoodsCustom_Column_List">
        g.goods_id,g.cat_id,g.goods_sn,g.goods_name,g.click_count,g.brand_id,g.goods_number,g.market_price
        ,g.shop_price,g.promote_price,g.keywords,g.goods_brief,g.goods_desc,g.goods_img,g.goods_thumb
        ,g.add_time,g.is_new,g.is_hot,g.give_integral,g.status
        ,c.cat_name
        ,b.brand_name
    </sql>
    <!--Goods sql块(少goods_desc)-->
    <sql id="Goods_Column_List">
        g.goods_id,g.cat_id,g.goods_sn,g.goods_name,g.click_count,g.brand_id,g.goods_number,g.market_price
        ,g.shop_price,g.promote_price,g.keywords,g.goods_brief,g.goods_desc,g.goods_img,g.goods_thumb
        ,g.add_time,g.is_new,g.is_hot,g.give_integral,g.status
    </sql>

    <sql id="Where_Clause">
        <where>
            g.status != 3
            <if test="query != null and query.title != null and query.title != '' ">
                and g.keywords like '%${query.title}%'
            </if>
        </where>
    </sql>
    <!--查询所有goods-->
    <select id="selectGoodsByPage" resultType="com.ymm.pojo.vo.GoodsCustom">
        SELECT
        <include refid="GoodsCustom_Column_List"/>
        FROM goods g
        LEFT JOIN category c ON g.cat_id = c.cat_id
        LEFT JOIN brand b on g.brand_id = b.brand_id
        <include refid="Where_Clause"/>
        ORDER BY g.goods_id
        limit #{page.offset},#{page.limit}
    </select>
    <!--根据id删除商品(将商品status改为3)-->
    <update id="updateGoodsById" parameterType="int">
        UPDATE goods
        SET status = 3
        WHERE goods_id = #{id};
    </update>
    <insert id="insertGoods" parameterType="com.ymm.pojo.po.Goods">
        INSERT INTO goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goods_id != null">
                goods_id,
            </if>
            <if test="cat_id != null">
                cat_id,
            </if>
            <if test="goods_sn != null">
                goods_sn,
            </if>
            <if test="goods_name != null">
                goods_name,
            </if>
            <if test="click_count != null">
                click_count,
            </if>
            <if test="brand_id != null">
                brand_id,
            </if>
            <if test="goods_number != null">
                goods_number,
            </if>
            <if test="market_price != null">
                market_price,
            </if>
            <if test="shop_price != null">
                shop_price,
            </if>
            <if test="promote_price != null">
                promote_price,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="goods_brief != null">
                goods_brief,
            </if>
            <if test="goods_desc != null">
                goods_desc,
            </if>
            <if test="goods_img != null">
                goods_img,
            </if>
            <if test="goods_thumb != null">
                goods_thumb,
            </if>
            <if test="add_time != null">
                add_time,
            </if>
            <if test="is_new != null">
                is_new,
            </if>
            <if test="is_hot != null">
                is_hot,
            </if>
            <if test="give_integral != null">
                give_integral,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goods_id != null">
                #{goods_id},
            </if>
            <if test="cat_id != null">
                #{cat_id},
            </if>
            <if test="goods_sn != null">
                #{goods_sn},
            </if>
            <if test="goods_name != null">
                #{goods_name},
            </if>
            <if test="click_count != null">
                #{click_count},
            </if>
            <if test="brand_id != null">
                #{brand_id},
            </if>
            <if test="goods_number != null">
                #{goods_number},
            </if>
            <if test="market_price != null">
                #{market_price},
            </if>
            <if test="shop_price != null">
                #{shop_price},
            </if>
            <if test="promote_price != null">
                #{promote_price},
            </if>
            <if test="keywords != null">
                #{keywords},
            </if>
            <if test="goods_brief != null">
                #{goods_brief},
            </if>
            <if test="goods_desc != null">
                #{goods_desc},
            </if>
            <if test="goods_img != null">
                #{goods_img},
            </if>
            <if test="goods_thumb != null">
                #{goods_thumb},
            </if>
            <if test="add_time != null">
                #{add_time},
            </if>
            <if test="is_new != null">
                #{is_new},
            </if>
            <if test="is_hot != null">
                #{is_hot},
            </if>
            <if test="give_integral != null">
                #{give_integral},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>


    </insert>

    <resultMap id="resultGoods" type="com.ymm.pojo.vo.GoodsCustom">
        <id column="goods_id" property="goods_id"/>
        <association property="category" column="cat_id" javaType="com.ymm.pojo.po.Category"
                     resultMap="categoryResult"/>
        <association property="brand" column="brand_id" javaType="com.ymm.pojo.po.Brand" resultMap="brandResult"/>
    </resultMap>
    <resultMap id="categoryResult" type="com.ymm.pojo.po.Category">
        <id column="cat_id" property="cat_id"/>
        <result column="cat_name" property="cat_name"/>
        <result column="cat_desc" property="cat_desc"/>
        <result column="measure_unit" property="measure_unit"/>
    </resultMap>
    <resultMap id="brandResult" type="com.ymm.pojo.po.Brand">
        <id column="brand_id" property="brand_id"/>
        <result column="brand_name" property="brand_name"/>
        <result column="cat_id" property="cat_id"/>
    </resultMap>
    <select id="countItems" resultType="_long">
    select count(1)
    from goods g
    <include refid="Where_Clause"/>
  </select>
</mapper>