<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymm.portal.dao.AddressMapper" >

    <sql id="base_column">
        address_id,zipcode,user_id,consignee,
        province,city,county,street,phone
    </sql>

    <select id="listAddress" resultType="com.ymm.portal.pojo.po.Address" parameterType="int">
        select
        <include refid="base_column"/>
        from address
        where user_id=#{user_id}
        order by address_id asc
    </select>

    <select id="findAddress" parameterType="com.ymm.portal.pojo.po.Address" resultType="com.ymm.portal.pojo.po.Address">
        select
        <include refid="base_column"/>
        from address
        where address_id=#{address_id} and user_id=#{user_id}
    </select>

    <select id="addressCount" parameterType="int" resultType="int">
        select count(1)
        from address
        where user_id=#{user_id}
    </select>

    <insert id="addAddress" parameterType="com.ymm.portal.pojo.po.Address">
        insert into
        address(
        <include refid="base_column"/>
        <if test="tag != null and tag != ''">
            ,tag
        </if>
        )
        values(#{address_id},#{zipcode},#{user_id},#{consignee},#{province},#{city},#{county},#{street},#{phone}
        <if test="tag != null and tag != ''">
            ,#{tag}
        </if>
        )
    </insert>
</mapper>