<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymm.portal.dao.CartMapper" >

    <sql id="base_column">
        user_id,goods_id,amount,add_time
    </sql>
    <sql id="union_column">
        c.user_id,c.goods_id,c.amount,c.add_time,
        g.goods_sn,g.goods_name,g.goods_number,g.market_price,g.shop_price,g.promote_price,
        g.goods_brief,g.goods_thumb,g.is_hot,g.give_integral
    </sql>

    <select id="listCustomCart" parameterType="int" resultType="com.ymm.portal.pojo.vo.CartCustom">
        select
        <include refid="union_column"/>
        from cart c left join goods g
        on c.goods_id=g.goods_id
        where c.user_id=#{user_id}
        order by c.add_time desc
    </select>

    <select id="findItem" parameterType="com.ymm.portal.pojo.vo.CartCustom" resultType="com.ymm.portal.pojo.vo.CartCustom">
        select
        <include refid="union_column"/>
        from cart c left join goods g
        on c.goods_id=g.goods_id
        where c.goods_id=#{goods_id}
        <if test="user_id!=null and user_id!=''">
          and c.user_id=#{user_id}
        </if>
    </select>

    <delete id="delCart" parameterType="com.ymm.portal.pojo.po.Cart">
        delete from cart
        where goods_id=#{goods_id} and user_id=#{user_id}
    </delete>

    <update id="updateAmount" parameterType="com.ymm.portal.pojo.po.Cart">
        update cart
        set amount=#{amount}
        <if test="add_time != null and add_time != ''">
            ,add_time=#{add_time}
        </if>
        where user_id=#{user_id} and goods_id=#{goods_id}
    </update>

    <insert id="addCart" parameterType="com.ymm.portal.pojo.po.Cart">
        insert into cart(
        <include refid="base_column"/>
        )
        values(#{user_id},#{goods_id},#{amount},#{add_time})
    </insert>

</mapper>