<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymm.portal.dao.UserMapper" >

    <sql id="baseSql">
      user_id,email,username,password,alias,sex,birthday,rank_points,rank_id,reg_time,mobile_phone,status
    </sql>
    <select id="queryByUsernameOrPhone" parameterType="com.ymm.commons.pojo.po.Users" resultType="com.ymm.commons.pojo.po.Users">
        SELECT username FROM users WHERE username = #{username} OR mobile_phone = #{mobile_phone}
    </select>

    <select id="checkLogin" parameterType="com.ymm.commons.pojo.po.Users" resultType="com.ymm.commons.pojo.po.Users">
        SELECT <include refid="baseSql"/>
        FROM users
        WHERE username = #{username} and password = #{password}
    </select>

    <select id="checkOldPass" parameterType="com.ymm.commons.pojo.po.Users" resultType="com.ymm.commons.pojo.po.Users">
        SELECT <include refid="baseSql"/>
        FROM users
        WHERE password = #{password}
    </select>

    <insert id="register" parameterType="com.ymm.commons.pojo.po.Users" >
        INSERT INTO
        users(email,username,password,alias,sex,birthday,rank_points,rank_id,reg_time,mobile_phone,status)
        VALUES (#{email},#{username},#{password},#{alias},#{sex},#{birthday},#{rank_points},
        #{rank_id},#{reg_time},#{mobile_phone},#{status})
    </insert>

    <sql id="allBaseSql">
        u.user_id,u.email,u.username,u.password,u.alias,u.sex,u.birthday,u.rank_points,u.rank_id,u.reg_time,u.mobile_phone,u.status,
        a.address_id,  a.zipcode, a.user_id, a.consignee, a.province, a.city, a.county, a.street, a.phone,  a.tag ,
        c.user_id ,c.goods_id  ,c.amount  ,c.add_time,
        o.order_id  ,o.user_id  ,o.receiver_name  ,o.receiver_address ,o.receiver_phone ,o.order_time ,o.order_money  ,o.pay_status  ,o.deliver_status
    </sql>

    <!--关联查询用户其他信息-->
    <resultMap id="userResultMapper" type="com.ymm.commons.pojo.po.Users">
        <id property="user_id" column="user_id" ></id>
        <result property="user_id" column="user_id"></result>
        <collection property="address" resultMap="addressResultMapper"></collection>
        <collection property="cart" resultMap="cartResultMapper"></collection>
        <collection property="orders" resultMap="orderResultMapper"></collection>
    </resultMap>

    <resultMap id="addressResultMapper" type="com.ymm.portal.pojo.po.Address">
        <id property="address_id" column="address_id" ></id>
    </resultMap>

    <resultMap id="cartResultMapper" type="com.ymm.portal.pojo.po.Cart">
        <result property="user_id" column="user_id"></result>
    </resultMap>

    <resultMap id="orderResultMapper" type="com.ymm.commons.pojo.po.Orders">
        <id property="order_id" column="order_id" ></id>
    </resultMap>

    <select id="selectUserAddressCartOrders" parameterType="com.ymm.commons.pojo.po.Users" resultMap="userResultMapper">
        SELECT <include refid="allBaseSql"/>
        FROM users u
        LEFT JOIN address a ON u.user_id = a.address_id
        LEFT JOIN cart c ON u.user_id = c.user_id
        LEFT JOIN orders o ON u.user_id = o.order_id
        WHERE u.user_id= #{user_id}
    </select>

</mapper>